.character-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.character-card__img {
}

.character-card__name {
  font-weight: bold;
}

.character-card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.character-card__description-item {
}

.character-card__close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 0;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0;
}
