.nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0;
}

.nav-list__item {
  .nav-link {
    display: block;
    width: 100%;
  }

  .nav-link.active {
    background-color: #cecece;
    color: #343a40;
  }
}
